<template>
  <div class="r-cont">
    <img :src="placeholder" ref="img" class="r-img"/>
  </div>
</template>

<script>
export default {
  name: 'ResponsiveImage',
  props: {
    src: {
      type: String,
    },
    title: {
      type: String,
    },
    height: {
      type: [String, Number],
      default: 813,
    },
  },
  computed: {
    img() {
      const height = parseInt(this.height);
      return `${process.env.cloudinaryURL}/h_${height},q_90/${this.src}.jpg`;
    },
    placeholder() {
      const height = Math.floor(parseInt(this.height) / 2);
      return `${process.env.cloudinaryURL}/h_${height},q_40/${this.src}.jpg`;
    },
  },
  mounted() {
    // set size
    this.szs = this.sizes || `${document.body.clientWidth}px`;
    // lazy-load
    // require here, because no ssr (should prolly move to plugins)
    // const IntersectionObserver = require('intersection-observer-polyfill');
    let lazyImageObserver = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          let lazyImage = entry.target;
          lazyImage.src = this.img;
          lazyImageObserver.unobserve(lazyImage);
        }
      });
    });
    lazyImageObserver.observe(this.$refs.img);
  }
};
</script>

<style lang="scss">
.r-cont {
  display: block;
  position: relative;
  overflow: hidden;
}

.r-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
</style>
