/*
** Global variables
*/

// Colour names
$white: #fff;
$black: #000;
$green-haze: #009975;
$yellow: #f5ff00;


// Colour usage
$bg-colour: $white;
$text-colour: $black;
$primary: $yellow;
$accent: darken($primary, 10%);

// transition duration
$transition-time: .05s;

// base font size
$font-size: 16px;

// breakpoints
$breakpoints: (
  sm: 'max-width: 400px',
  md: 'max-width: 768px',
  lg: 'min-width: 768px',
  xl: 'min-width: 1080px; pixel-ratio: 1.5',
);
