<template>
  <div>
    <responsive-image :src="project.introImage" height="813px"/>
    <section>
      <h2 class="title">{{ project.name }}</h2>
      <div v-html="description" class="description"></div>
      <responsive-image v-for="img in project.extraImages" :key="img.id"
                        :src="img.id" class="extra" :class="{'half': img.state}"/>
    </section>
    <nuxt-link v-if="nextProject" :to="`/work/${nextProject.slug}/`">
      View next project &gt;
    </nuxt-link>
  </div>
</template>

<script>
import marked from 'marked';
import ResponsiveImage from '@/components/ResponsiveImage.vue';

export default {
  name: 'work-page',
  components: {
    ResponsiveImage,
  },
  head() {
    return {
      title: this.project.name,
    };
  },
  validate({params, store}) {
    return !!store.getters['projects/getByKey']('slug', params.slug);
  },
  computed: {
    project() {
      return this.$store.getters['projects/getByKey'](
        'slug', this.$route.params.slug
      );
    },
    description() {
      return marked(this.project.description);
    },
    nextProject() {
      return this.$store.getters['projects/next'](this.project.id);
    }
  }
};
</script>

<style lang="scss">
.title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 1.4em 0 0;
}

.description {
  font-size: 0.75em;
  margin-bottom: 3em;
  text-transform: none;

  p:first-of-type {
    margin-top: 0;
  }
}

.extra {
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 1em;
  }
}

.r-cont {
  height: 813px;
}

.half {
  display: inline-block;
  width: 49%;

  & + .half {
    margin-left: 2%;
  }
}
</style>
