<template>
  <v-app id="taylor">
    <nuxt/>
    <confirm ref="ok"/>
  </v-app>
</template>

<script>
import Confirm from '~/components/Confirm.vue';

export default {
  components: {
    Confirm,
  },
  middleware: 'auth',
  methods: {
    // lol
    async ok() {
      await this.$refs.ok.open(
        'OK', 'Click OK to ok', {
          agree: 'OK',
          cancel: false,
          colour: 'primary',
        }
      );
    },
  },
};
</script>

<style>
.draggable {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
}

.toasted {
  font-family: 'Roboto';
  font-weight: bold;
}
</style>
