<template>
  <v-app id="taylor">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <nuxt/>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  head() {
    return {
      titleTemplate: 'Admin - %s',
      link: [{
        rel: 'stylesheet',
        href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'
      }],
    };
  },
};
</script>
