<template>
  <v-layout wrap justify-center>
    <v-flex xs12>
      <h1 class="mb-4 display-2">{{ title }}</h1>
    </v-flex>
    <v-flex xs12 sm10 md10>
      <v-card>
        <v-form>
          <v-card-text>
            <v-layout row wrap justify-space-between>
              <v-flex xs12 sm5>
                <v-text-field v-model="page.name" label="Name" required
                              :error-messages="errors.name" @input="setSlug"/>
              </v-flex>
              <v-flex xs12 sm5 class="pl-2">
                <v-text-field v-model="page.slug" label="URL" required
                              :error-messages="errors.url" prefix="/"
                              @input="manualSlug = true"/>
              </v-flex>
              <v-flex xs12 sm2>
                <v-switch v-model="page.status" :label="page.status ? 'Visible' : 'Hidden'"/>
              </v-flex>
              <v-flex xs12 class="mt-2">
                <v-textarea v-model="page.body" :error-messages="errors.body" label="Content" auto-grow/>
              </v-flex>
              <v-flex xs12 class="mt-0 pt-0"><small v-html="textHint"></small></v-flex>
            </v-layout>
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>
    <v-fab-transition>
      <v-btn v-show="showBtn" :loading="saving" fab fixed bottom right
             color="primary" @click="save">
        <v-icon>save</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-layout>
</template>

<script>
import {slugify} from 'transliteration';


export default {
  key: (to) => to.fullPath,
  head() {
    return {
      title: this.title,
    };
  },
  data() {
    return {
      showBtn: false,
      saving: false,
      descriptionOptions: {
        placeholder: false,
      },
      errors: {},
      manualSlug: false,
      textHint: 'You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> in here!',
    };
  },
  async fetch({store, params}) {
    if (Number.isInteger(params.id)) {
      await store.dispatch('pages/fetch', {id: params.id});
    }
  },
  async asyncData(ctx) {
    let page = {
      status: false,
      name: null,
      slug: '',
      description: null,
    };
    if (ctx.params.id && parseInt(ctx.params.id)) {
      const result = await ctx.$axios.get(`/page/${ctx.params.id}/`);
      page = result.data;
    }
    // get sort
    if (!Number.isInteger(page.sort)) {
      const count = await ctx.$axios.get('/page/count/');
      page.sort = count.data.count;
    }
    return {
      page: page,
    };
  },
  mounted() {
    this.showBtn = true;
  },
  updated() {
    this.showBtn = true;
  },
  computed: {
    title() {
      return this.page.name ? this.page.name : 'New page';
    },
  },
  methods: {
    setSlug() {
      if (this.manualSlug) return;
      this.page.slug = slugify(this.page.name);
    },
    async save() {
      // Validate
      this.saving = true;
      this.errors = {};
      try {
        await this.$store.dispatch('pages/save', this.page);
        this.$toast.success('page saved!').goAway(1500);
        this.$router.push('/pages/');
      } catch (e) {
        this.saving = false;
        const resp = e.response;
        if (resp.status === 422) {
          this.$toast.error('Invalid input', {
            theme: 'toasted-primary',
          }).goAway(3000);
          this.errors = {...this.errors, ...resp.data.error.details.messages};
        } else {
          this.$toast.error('Could not save page!').goAway(3000);
          console.error(e);
        }
      }
    },
  },
}
</script>
