<template>
  <v-layout wrap justify-center>
    <v-flex xs12>
      <h1 class="mb-4 display-2">Pages</h1>
    </v-flex>
    <v-flex xs12 sm10 md8>
      <v-data-table :items="pages" item-key="id" :headers="headers" class="elevation-1"
                    hide-default-footer>
        <template v-slot:top>
          <td v-if="pages.length > 1" class="handle draggable">
            <v-tooltip left>
              <template v-slot:activator>
                <v-icon>drag_indicator</v-icon>
              </template>
              <span>Drag to reorder</span>
            </v-tooltip>
          </td>
          <td v-else class="pa-0"></td>
        </template>
        <template v-slot:item.slug="{item}">
          <td>
            /{{ item.slug }}
          </td>
        </template>
        <template v-slot:item.actions="{item}">
          <td class="text-xs-right">
            <v-tooltip top>
              <template v-slot:activator>
                <v-btn icon small @click="toggleStatus(item)">
                  <v-icon small>{{ item.status ? 'visibility_off' : 'visibility' }}</v-icon>
                </v-btn>
              </template>
              <span>{{ item.status ? 'Hide' : 'Show' }} Page</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator>
                <v-btn :to="`/pages/${item.id}/`" icon small>
                  <v-icon small>edit</v-icon>
                </v-btn>
              </template>
              <span>Edit</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator>
                <v-btn icon small @click="delPage(item.id)">
                  <v-icon small>delete</v-icon>
                </v-btn>
              </template>
              <span>Delete</span>
            </v-tooltip>
          </td>
        </template>
      </v-data-table>
      <v-fab-transition>
        <v-btn v-show="showBtn" fab fixed bottom right color="primary" to="/pages/new/">
          <v-icon>add</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-flex>
  </v-layout>
</template>

<script>
import Sortable from 'sortablejs';
import Confirm from '~/components/Confirm.vue';

export default {
  components: {
    Confirm,
  },
  key: (to) => to.fullPath,
  data() {
    return {
      headers: [{
        text: '',
        sortable: false,
        width: '1%',
      }, {
        text: 'Page name',
        value: 'name',
        align: 'left',
        sortable: false,
      }, {
        text: 'URL',
        align: 'left',
        value: 'slug',
        sortable: false,
      }, {
        text: 'Actions',
        align: 'center',
        value: 'actions',
        width: '17%',
        sortable: false,
      }],
      showBtn: false,
    };
  },
  async fetch({store}) {
    await store.dispatch('pages/fetch');
  },
  mounted() {
    this.showBtn = true;
    const table = document.querySelector('.v-data-table tbody');
    const _self = this;
    // Sortable.create(table, {
    //   handle: '.handle',
    //   onEnd({newIndex, oldIndex}) {
    //     const rowSelected = _self.pages.splice(oldIndex, 1)[0];
    //     _self.pages.splice(newIndex, 0, rowSelected);
    //     // set sort values
    //     _self.pages.forEach(async (p, idx) => {
    //       await _self.$axios.patch(`/page/${p.id}/`, {
    //         sort: idx,
    //       });
    //     });
    //   },
    // });
  },
  updated() {
    this.showBtn = true;
  },
  computed: {
    pages() {
      return this.$store.getters['pages/all'];
    },
  },
  methods: {
    async delPage(id) {
      const confirm = await this.$refs.confirm.open(
        'Confirm delete',
        `Are you sure you want to delete <strong>${page.name}</strong>?`
      )
      if (!confirm) return;
      try {
        await this.$store.commit('pages/remove', id);
      } catch (e) {
        this.$toast.error(e.response.data.message);
      }
    },
    async toggleStatus(page) {
      try {
        await this.$store.dispatch('pages/update', {
          id: page.id,
          status: !page.status,
        });
      } catch (e) {
        this.$toast.error('Could not change status');
        console.error(e);
      }
    },
  },
};
</script>

