<template>
  <section v-html="body" class="page"></section>
</template>

<script>
import marked from 'marked';

export default {
  head() {
    return {
      title: this.page.name,
      bodyAttrs: {
        class: 'invert',
      },
    };
  },
  computed: {
    page() {
      return this.$store.getters['pages/getByKey'](
        'slug', this.$route.params.slug
      );
    },
    body() {
      return marked(this.page.body);
    }
  },
}
</script>

<style lang="scss">
.page {
  text-transform: none;
  font-size: 1.25em;
  line-height: 1.2;

  p {
    white-space: pre;
    margin: 0 0 .35em;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;

    &:first-of-type {
      margin-top: 1em;
    }
  }
}
</style>
