<template>
  <div>
    <section id="hero" class="pre hide-sm" v-html="page ? page.body : ''"></section>
    <ol id="work" class="flex j-space-between">
      <li v-for="project in projects" :key="project.id" class="preview-item">
        <nuxt-link class="preview-link" :to="`/work/${project.slug}/`"
                   :ref="`projects`">
          <figure class="preview">
            <no-ssr>
              <responsive-image :src="previewImage(project)"
                                :height="previewHeight"/>
              <figcaption class="preview-text">
                <h3>{{ project.name }}</h3>
                <span>{{ project.subtitle }}</span>
              </figcaption>
            </no-ssr>
          </figure>
        </nuxt-link>
      </li>
    </ol>
  </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex';
import ResponsiveImage from '@/components/ResponsiveImage.vue';

export default {
  name: 'home-page',
  components: {
    ResponsiveImage,
  },
  head() {
    return {
      title: this.page ? this.page.name : false,
    };
  },
  data() {
    return {
      currPosition: 0,
    };
  },
  computed: {
    portrait() {
      if (this.isClient) {
        return window.innerHeight > window.innerWidth;
      }
      return false;
    },
    ...mapState('pages', {
      page: (state) => state.all.find((p) => !p.slug),
    }),
    ...mapGetters({
      projects: 'projects/all',
    }),
    previewHeight() {
      if (this.portrait) {
        return window.innerHeight;
      }
      return 414;
    },
  },
  mounted() {
    window.addEventListener('scroll', this.setPosition);
  },
  updated() {
    window.removeEventListener('scroll', this.setPosition);
    window.addEventListener('scroll', this.setPosition);
  },
  destroyed() {
    window.removeEventListener('scroll', this.setPosition);
  },
  methods: {
    previewImage(project) {
      return project.previewLandscape;
    },
    setPosition(evt) {
      this.currPosition = evt.pageY;
    },
    nextProject() {
      this.$refs.projects.forEach((link) => {
        console.log(this.currPosition, link.$el.offsetTop);
        if (this.currPosition < link.$el.offsetTop) {
          const scrollTo = link.$el.clientY + link.$el.offsetHeight;
          console.log(scrollTo);
          window.scrollTo(0, scrollTo);
          return;
        }
      });
    },
  },
};
</script>

<style lang="scss">
#hero {
  font-size: 1.95em;
  line-height: 1.2;
}

#work {
  list-style: none;
  padding: 4.57em 0 0;
  margin: 0;
}

#next-project {
  background: none;
  border: none;
  bottom: .5em;
  font-size: 3em;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 1;
}

.preview-item {
  width: 48%;
}

.preview-link {
  margin: 0;
}

.preview {
  position: relative;
  overflow: hidden;
  margin: 0 0 1.6em 0;

  .r-cont {
    height: 414px;
    max-height: 40vh;
  }

  .preview-text {
    opacity: 0;
    transition: opacity $transition-time linear;

    > * {
      transform: scale(.98);
      transition: transform $transition-time linear;
    }
  }

  &:hover {
    .preview-text {
      opacity: 1;

      > * {
        transform: scale(1);
      }
    }
  }

  @media (any-hover: none) {
    & {
      .preview-text {
        position: relative;
        background: transparent;
        flex-wrap: nowrap;
        opacity: 1;
        padding: 1em 0;

        h3 {
          width: auto;
          padding-right: .5em;
        }

        > * {
          line-height: 0;
          transform: scale(1);
        }
      }
    }
  }
}

.preview-text {
  align-content: flex-start;
  background: $primary;
  color: $text-colour;
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  height: 100%;
  justify-content: flex-start;
  left: 0;
  opacity: 0;
  padding: 1em;
  position: absolute;
  text-transform: none;
  top: 0;
  width: 100%;
  will-change: opacity;

  h3 {
    width: 100%;
    margin: 0;
    line-height: 1;
  }
}

@media (map-get($breakpoints, 'sm')) {
  .preview-item {
    width: 100%;
  }
}

@media (map-get($breakpoints, 'md')) {
  #work {
    flex-direction: column;
    align-items: center;
  //   //margin-top: 0;
  //   //padding-top: 3.58em;
  }

  .preview-item {
    height: 100%;
    width: 96vw;
  }
}
</style>
