<template>
  <v-flex xs12>
    <v-app-bar color="primary" dark fixed app>
      <v-toolbar-title>
        <nuxt-link to="/" class="white--text">Admin</nuxt-link>
      </v-toolbar-title>
      <v-spacer/>
      <v-toolbar-items>
        <v-btn text to="/pages/">Pages</v-btn>
        <v-btn text to="/projects/">Projects</v-btn>
        <v-menu transition="slide-y-transition" offset-y open-on-hover>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" text icon>
              <v-icon>face</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-tile to="/user/">
              <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="logout">
              <v-list-tile-title>Log out</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-app-bar>
    <v-main>
      <v-container fluid fill-height>
        <v-layout column fill-height class="mb-4">
          <nuxt-child/>
        </v-layout>
      </v-container>
    </v-main>
    <v-footer absolute bottom dark>
      <span class="pl-2">v{{ version }}</span>
      <v-spacer/>
      <span class="pr-2">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-flex>
</template>

<script>
import pkg from '../../../package.json';

export default {
  key: (to) => to.fullPath,
  transition(to, from) {
    return 'slide-left';
  },
  data() {
    return {
      version: pkg.version,
    };
  },
  methods: {
    logout() {
      this.$auth.logout();
    },
  },
};
</script>

<style>
a:link {
  text-decoration: none;
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
</style>
