<template>
  <v-flex xs12 sm8 md4>
    <v-card class="elevation-12">
      <v-form @submit.prevent="login">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-text-field v-model="credentials.username" prepend-icon="person"
                        name="login" label="Username" required/>
          <v-text-field v-model="credentials.password" id="password"
                        :type="showPass.new ? 'text' : 'password'"
                        :append-icon="showPass ? 'visibility_off' : 'visibility'"
                        prepend-icon="lock" name="password" label="Password"
                        required @click:append="togglePass('new')"/>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" type="submit" :loading="loading">Submit</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  layout: 'fullpage',
  head() {
    return {
      title: 'Log in',
    };
  },
  data() {
    return {
      credentials: {
        username: null,
        password: null,
        ttl: 60 * 60 * 8,  // 8 hour login time
      },
      loading: false,
      showPass: false,
    };
  },
  mounted() {
    if (this.$auth.loggedIn) {
      if (this.$route.query.next) {
        this.$router.push(this.$route.query.next);
      } else {
        this.$router.push('/admin/');
      }
    }
  },
  methods: {
    async login() {
      this.loading = true;
      this.credentials.username = this.credentials.username.toLowerCase();
      try {
        await this.$auth.loginWith('local', {data: this.credentials});
        this.$toast.success('Successfully authenticated').goAway(1500);
        this.$router.push('/');
      } catch (e) {
        this.loading = false;
        this.$toast.error('Error authenticating').goAway(3000);
        console.error(e);
      }
    },
  },
};
</script>

<style>

</style>
