<template>
  <v-layout wrap justify-center>
    <v-flex xs12>
      <h1 class="mb-4 display-2">{{ project.name ? project.name : 'New Project' }}</h1>
    </v-flex>
    <v-flex xs12 sm10 md8>
      <v-card>
        <v-form>
          <v-card-text>
            <v-layout row wrap justify-space-between>
              <v-flex xs12 sm7>
                <v-text-field v-model="project.name" label="Name" required
                              :error-messages="errors.name"/>
              </v-flex>
              <v-flex xs12 sm2>
                <v-text-field v-model="project.subtitle" label="Subtitle" :error-messages="errors.subtitle"/>
              </v-flex>
              <v-flex xs12 sm2>
                <v-switch v-model="project.status" :label="project.status ? 'Visible' : 'Hidden'"/>
              </v-flex>
              <v-flex xs12 sm6 md4 class="pr-2 pb-4">
                <image-upload v-model="project.previewLandscape" label="Preview Image (Landscape)"
                              :loading="loading.previewLandscape"
                              @change="upload($event, 'previewLandscape')"
                              @delete="delImg($event, 'previewLandscape')"/>
              </v-flex>
              <v-flex xs12 sm6 md4 class="pr-2 pb-4">
                <image-upload v-model="project.previewPortrait" label="Preview Image (Portrait)"
                              :loading="loading.previewPortrait"
                              @change="upload($event, 'previewPortrait')"
                              @delete="delImg($event, 'previewPortrait')"/>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <image-upload v-model="project.introImage" label="Intro Image"
                              :loading="loading.introImage"
                              @change="upload($event, 'introImage')"
                              @delete="delImg($event, 'introImage')"/>
              </v-flex>
              <v-flex xs12 class="mt-2">
                <v-text-field v-model="project.link" label="Link" type="url"
                              :error-messages="errors.link"/>
              </v-flex>
              <v-flex xs12 class="mt-2">
                <v-textarea v-model="project.description"
                            :error-messages="errors.description" label="Description"
                            auto-grow/>
              </v-flex>
              <v-flex xs12 class="mx-0"><small v-html="textHint"></small></v-flex>
              <v-flex xs12 class="mt-2 mb-2"><v-divider/></v-flex>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-subheader>
                    Additional Images <v-btn small color="accent" @click="addExtraImage" class="ml-2">Add Image</v-btn>
                  </v-subheader>
                </v-flex>
                <draggable v-model="project.extraImages" class="layout row wrap">
                  <v-flex v-for="(image, idx) in project.extraImages" :key="image.id" xs12 md4>
                    <v-hover>
                      <image-upload v-model="project.extraImages[idx].id"
                                    :class="`elevation-${hover ? '4': '0'}`"
                                    :loading="loading.extraImages[idx]"
                                    class="mr-2 mb-4 draggable"
                                    slot-scope="{ hover }"
                                    @change="upload($event, 'extraImages', idx)"
                                    @delete="delExtraImage(idx)">
                        <v-btn v-show="!image" small icon absolute top right
                              style="z-index:1; top: 10px; right: 10px" @click="delExtraImage(idx)">
                          <v-icon>close</v-icon>
                        </v-btn>
                        <v-btn small absolute bottom left fab
                               :class="{'r-90' : !!project.extraImages[idx].state}"
                               style="z-index:1;" @click="toggleState(idx)">
                          <v-icon>view_stream</v-icon>
                        </v-btn>
                      </image-upload>
                    </v-hover>
                  </v-flex>
                </draggable>
              </v-layout>
            </v-layout>
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>
    <v-fab-transition>
      <v-btn v-show="showBtn" :loading="saving" fab fixed bottom right
             color="primary" @click="save">
        <v-icon>save</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-layout>
</template>

<script>
import ImageUpload from '~/components/ImageUpload.vue';

export default {
  name: 'project-edit',
  key: (to) => to.fullPath,
  components: {
    ImageUpload,
  },
  head() {
    return {
      title: this.title,
    };
  },
  validate({params}) {
    return /^\d+$/.test(params.id) || params.id === 'new';
  },
  data() {
    return {
      showBtn: false,
      saving: false,
      errors: {},
      textHint: 'You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> in here!',
      loading: {
        previewPortrait: false,
        previewLandscape: false,
        introImage: false,
        extraImages: [],
      },
      imagesToDelete: [],
    };
  },
  async fetch({store, params}) {
    if (parseInt(params.id)) {
      await store.dispatch('projects/fetch');
    }
  },
  async asyncData(ctx) {
    let project;
    if (parseInt(ctx.params.id)) {
      const resp = await ctx.$axios.get(`/project/${ctx.params.id}/`);
      project = resp.data;
    } else {
      project = {
        status: 0,
        extraImages: [],
      };
    }
    return {project: project};
  },
  mounted() {
    this.showBtn = true;
    // if no sort, set to last
    if (!Number.isInteger(this.project.sort)) {
      const count = this.$store.getters['projects/total'];
      this.project.sort = count + 1;
    }
    // set up loading bools for variable no of images
    this.loading.extraImages = this.project.extraImages.map((i) => false);
  },
  updated() {
    this.showBtn = true;
  },
  methods: {
    async save() {
      // Validate
      this.saving = true;
      this.errors = {};
      try {
        this.imagesToDelete.forEach(async (publicId) => {
          await this.$axios.delete(`/media/${publicId}`);
        });
        await this.$store.dispatch('projects/save', this.project);
        this.$router.push('/projects/');
      } catch (e) {
        console.error(e);
        if (e.response) {
          this.errors = e.response.data.error.details.messages;
        }
        this.saving = false;
        this.$toast.error('Could not save').goAway(3000);
      }
    },
    getImage(key, idx) {
      return idx !== null ? this.project[key][idx] : this.project[key];
    },
    setImage(key, idx, value) {
      if (idx !== null) {
        this.$set(this.project[key], idx, value);
      } else {
        this.$set(this.project, key, (value.hasOwnProperty('id') ? value.id : value));
      }
    },
    setLoading(key, idx, value) {
      if (idx !== null) {
        this.$set(this.loading[key], idx, value);
      } else {
        this.$set(this.loading, key, value);
      }
    },
    upload(file, key, idx = null) {
      if (idx !== null && !file) {
        this.delExtraImage(idx);
        return;
      }
      this.setImage(key, idx, '');
      this.setLoading(key, idx, true);
      if (!file) {
        this.setLoading(key, idx, false);
        return;
      }
      const form = new FormData();
      form.append('file', file);
      this.$axios.post('/media/upload/', form).then((resp) => {
        const publicId = resp.data.result.public_id;
        this.setImage(key, idx, {id: publicId});
        this.setLoading(key, idx, false);
      });
      // uploading image could take a while - this makes it seem faster
      const reader = new FileReader();
      let dataURL = '';
      reader.onload = (e) => {
        dataURL = e.target.result;
        if (Object.entries(this.getImage(key, idx)).length === 0) {
          this.setImage(key, idx, dataURL);
          // this.setLoading(key, idx, false);
        }
      };
      reader.readAsDataURL(file);
    },
    async delImg(publicId, key, idx = null) {
      this.setLoading(key, idx, true);
      this.imagesToDelete.push(publicId);
      this.setImage(key, idx, '');
      this.setLoading(key, idx, false);
    },
    addExtraImage() {
      this.project.extraImages.push({});
      this.loading.extraImages.push(false);
    },
    delExtraImage(idx) {
      this.project.extraImages.splice(idx, 1);
      this.loading.extraImages.splice(idx, 1);
    },
    toggleState(idx) {
      this.project.extraImages[idx].state = !this.project.extraImages[idx].state;
    }
  },
}
</script>

<style>
.r-90 {
  transform: rotate(90deg);
}
</style>
