<template>
  <v-layout wrap justify-center>
    <v-flex xs12>
      <h1 class="mb-4 display-2">Projects</h1>
    </v-flex>
    <v-flex xs12 sm10 md8>
      <v-data-table :items="projects" :headers="headers" class="elevation-1"
                    hide-default-footer>
        <template v-slot:top>
          <td v-if="projects.length > 1" class="handle draggable">
            <v-tooltip left>
              <v-icon slot="activator">drag_indicator</v-icon>
              <span>Drag to reorder</span>
            </v-tooltip>
          </td>
          <td v-else class="pa-0"></td>
        </template>
        <template v-slot:item.name="{item}">
          <td>
            <v-avatar size="38" class="mr-4" color="accent">
              <v-img v-if="item.previewLandscape" :src="img(item.previewLandscape)"/>
              <span v-else class="white--text headline">
                {{ item.name.charAt(0) }}
              </span>
            </v-avatar>
            {{ item.name }}
          </td>
        </template>
        <template v-slot:item.actions="{item}">
          <td class="text-xs-right">
            <v-tooltip top>
              <v-btn slot="activator" icon small @click="toggleStatus(item)">
                <v-icon small>{{ item.status ? 'visibility_off' : 'visibility' }}</v-icon>
              </v-btn>
              <span>{{ item.status ? 'Hide' : 'Show' }} Project</span>
            </v-tooltip>
            <v-tooltip top>
              <v-btn :to="`/projects/${item.id}/`" slot="activator" icon small>
                <v-icon small>edit</v-icon>
              </v-btn>
              <span>Edit</span>
            </v-tooltip>
            <v-tooltip top>
              <v-btn slot="activator" icon small @click="delProject(item.id)">
                <v-icon small>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
          </td>
        </template>
      </v-data-table>
      <v-fab-transition>
        <v-btn v-show="showBtn" fab fixed bottom right color="primary" to="/projects/new/">
          <v-icon>add</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-flex>
    <confirm ref="confirm"/>
  </v-layout>
</template>

<script>
import Sortable from 'sortablejs';
import Confirm from '~/components/Confirm.vue';

export default {
  components: {
    Confirm,
  },
  key: (to) => to.fullPath,
  data() {
    return {
      headers: [{
        text: '',
        sortable: false,
        width: '1%',
      }, {
        text: 'Project',
        align: 'left',
        value: 'name',
        sortable: false,
      }, {
        text: 'Actions',
        align: 'center',
        value: 'actions',
        sortable: false,
        width: '17%'
      }],
      showBtn: false,
    };
  },
  async fetch({store}) {
    await store.dispatch('projects/fetch');
  },
  computed: {
    projects: {
      get() {
        return this.$store.getters['projects/all'];
      },
    },
  },
  mounted() {
    this.showBtn = true;
    // make table rows draggable
    const table = document.querySelector('.v-data-table tbody');
    const _self = this;
    /*Sortable.create(table, {
      handle: '.handle',
      onEnd({newIndex, oldIndex}) {
        const rowSelected = _self.projects.splice(oldIndex, 1)[0];
        _self.projects.splice(newIndex, 0, rowSelected);
        // set sort values
        _self.projects.forEach(async (p, idx) => {
          await _self.$axios.patch(`/project/${p.id}/`, {
            sort: idx,
          });
        });
      },
    });*/
  },
  updated() {
    this.showBtn = true;
  },
  methods: {
    img(publicId) {
      return `${process.env.cloudinaryURL}/h_38,q_100/${publicId}`;
    },
    async delProject(id) {
      const project = this.$store.getters['projects/getByKey']('id', id);
      const confirm = await this.$refs.confirm.open(
        'Confirm delete',
        `Are you sure you want to delete <strong>${project.name}</strong>?`
      )
      if (!confirm) return;
      try {
        await this.$store.dispatch('projects/remove', id);
      } catch (e) {
        this.$toast.error(e.response.data.message);
      }
    },
    async toggleStatus(project) {
      try {
        await this.$store.dispatch('projects/update', {
          id: project.id,
          status: !project.status,
        });
      } catch (e) {
        this.$toast.error('Could not change status');
        console.error(e);
      }
    },
  },
};
</script>
