<template>
  <v-flex xs12>
    <h1>Admin home</h1>
    <v-layout row justify-center>
      <span>What should go here? I don't know</span>
    </v-layout>
  </v-flex>
</template>

<script>
export default {

};
</script>
