<template>
  <nuxt-child/>
</template>

<script>
export default {
  key: (to) => to.fullPath,
  transition(to, from) {
    return 'slide-left';
  },
  head() {
    return {
      titleTemplate: (chunk) => {
        const title = 'Admin - Projects';
        return chunk ? `${title} - ${chunk}` : title;
      },
    };
  },
};
</script>

<style>

</style>
