<template>
  <v-layout wrap justify-center>
    <v-flex xs12>
      <h1 class="mb-4 display-2">{{ $auth.user.name }}</h1>
    </v-flex>
    <v-flex xs12 sm8 md6 lg4>
      <v-card>
        <v-form @submit.prevent="save">
          <v-card-text>
            <v-text-field id="name" v-model="name" :error-messages="errors.name"
                          name="name" label="Name" required
                          hint="Username will be your first name"/>
            <v-text-field id="email" v-model="email" :error-messages="errors.email"
                          name="email" label="Email" type="email" required/>
            <v-text-field id="phone" v-model="phone" :error-messages="errors.phone"
                          name="phone" label="Phone" type="tel" required/>
            <v-subheader>Change Password</v-subheader>
            <v-text-field id="oldPass" v-model="oldPassword"
                          :error-messages="errors.oldPassword"
                          :type="showPass.old ? 'text' : 'password'"
                          :append-icon="showPass.old ? 'visibility_off' : 'visibility'"
                          name="oldPass" label="Current password"
                          @click:append="togglePass('old')"/>
            <v-text-field id="newPass" v-model="newPassword"
                          :error-messages="errors.newPassword"
                          :type="showPass.new ? 'text' : 'password'"
                          :append-icon="showPass.new ? 'visibility_off' : 'visibility'"
                          name="newPass" label="New password"
                          @click:append="togglePass('new')"/>
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>
    <v-fab-transition>
      <v-btn v-show="showBtn" :loading="loading" color="primary" fixed fab bottom right
             @click="save">
        <v-icon>save</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Profile',
    };
  },
  data() {
    return {
      name: this.$auth.user.name,
      email: this.$auth.user.email,
      phone: this.$auth.user.phone,
      oldPassword: null,
      newPassword: null,
      showPass: {
        old: false,
        new: false,
      },
      showBtn: false,
      errors: {},
      loading: false,
    };
  },
  mounted() {
    this.showBtn = true;
  },
  updated() {
    this.showBtn = true;
  },
  methods: {
    togglePass(pass) {
      this.showPass[pass] = !this.showPass[pass];
    },
    async save() {
      this.loading = true;
      this.errors = {};
      try {
        await this.$axios.patch(`/user/${this.$auth.user.id}/`, {
          name: this.name,
          username: this.name.split(' ')[0].toLowerCase(),
          email: this.email,
          phone: this.phone,
        });
        await this.$auth.fetchUser();
      } catch (e) {
        const resp = e.response;
        if (resp.status === 422) {
          this.$toast.error('Invalid input').goAway(3000);
          this.errors = {...this.errors, ...resp.data.error.details.messages};
        } else {
          this.$toast.error(resp.data.error.message);
        }
      }
      if (this.newPassword) {
        try {
          await this.$axios.post('/user/change-password/', {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword,
          });
        } catch (e) {
          this.loading = false;
          const resp = e.response;
          if (resp.status === 422) {
            this.$toast.error('Invalid input').goAway(3000);
            this.errors = {...this.errors, ...resp.data.error.details.messages};
          } else {
            this.$toast.error(resp.data.error.message);
            console.error(e);
          }
        }
      }
      this.loading = false;
    }
  },
}
</script>

<style>

</style>
