<template>
  <v-card>
    <v-toolbar v-if="label" dense flat>
      <v-toolbar-title>{{ label }}</v-toolbar-title>
    </v-toolbar>
    <v-img v-if="!!value" :src="src" :height="height" cover>
      <v-layout slot="placeholder" fill-height align-center justify-center ma-0>
        <v-progress-circular indeterminate color="grey lighten-5"/>
      </v-layout>
    </v-img>
    <v-card-text :style="!!value ? 'height: 0;' : `height: ${height};`" class="pa-0">
      <v-layout v-if="!value" fill-height align-center justify-center ma-0>
        <span class="grey--text">No image</span>
      </v-layout>
      <v-fab-transition>
        <v-btn v-show="!value" :loading="loading" fab absolute bottom right small
               color="accent" style="z-index:1" @click.prevent="f.click">
          <v-icon>add</v-icon>
        </v-btn>
      </v-fab-transition>
      <v-fab-transition>
        <v-btn v-show="!!value" :loading="loading" fab small absolute
               style="z-index:1" bottom right @click="delImage">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-fab-transition>
      <slot></slot>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'image-upload',
  props: {
    label: String,
    value: {
      type: [String, Object],
      default: () => (''),
    },
    loading: {
      type: Boolean,
      default: false,
    },
    height: {
      type: [String, Number],
      default: "200px",
    },
    quality: {
      type: [String, Number],
      default: 80,
    },
  },
  data() {
    return {
      f: null,
    };
  },
  computed: {
    src() {
      if (this.value === null) {
        return '';
      }
      if (typeof this.value == 'string' && this.value.startsWith('data')) {
        return this.value;
      }
      const height = parseInt(this.height);
      const quality = parseInt(this.quality);
      const id = this.value.hasOwnProperty('id') ? this.value.id : this.value;
      return `${process.env.cloudinaryURL}/h_${height},q_${quality}/${id}.jpg`;
    },
  },
  mounted() {
    this.f = document.createElement('input');
    this.f.type = 'file';
    this.f.addEventListener('change', this.change);
    document.head.appendChild(this.f);
  },
  destroyed() {
    document.head.removeChild(this.f);
  },
  methods: {
    change(evt) {
      if (evt.target.files.length === 0) {
        this.$emit('change', null);
        return;
      }
      this.$emit('change', evt.target.files[0]);
    },
    async delImage() {
      this.$emit('delete', this.value);
    }
  }
};
</script>

