<template>
  <div id="container">
    <header id="header" class="flex nowrap j-space-between j-stretch a-center">
      <h1 id="title">
        <nuxt-link to="/" title="Go to the home page">
          Stephen Taylor
        </nuxt-link>
      </h1>
      <div class="flex nowrap a-stretch j-space-between j-sm-end">
        <div class="flex a-center j-start">
          <h2 class="underline hide-md">available for freelance work</h2>
        </div>
        <nav id="nav" class="flex nowrap j-end a-stretch">
          <div class="flex nowrap j-end a-center">
            <nuxt-link to="/#work" title="View work examples" class="nav-link hide-md"
                      :class="{'active': $route.fullPath.startsWith('/work/')}">
              Work
            </nuxt-link>
            <nuxt-link v-for="page in pages.filter((p) => !!p.slug)" :key="page.id"
                      :to="`/${page.slug}/`" :title="`View ${page.name} page`"
                      class="nav-link hide-md">
              {{ page.name }}
            </nuxt-link>
          </div>
          <div class="dropdown flex a-stretch hide-md-up" :class="{'open': menuOpen}">
            <button class="icon dropdown-icon" @click="toggleMenu">+</button>
            <div class="dropdown-content invert">
              <p v-html="homePage.body"></p>
              <h2 class="underline" style="display:inline-block">available for freelance work</h2>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <nuxt/>
    </main>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  head() {
    return {
      bodyAttrs: {
        class: this.menuOpen ? 'invert' : null,
      },
    };
  },
  async fetch() {
    await this.$store.dispatch('pages/fetch');
  },
  data() {
    return {
      menuOpen: false,
    };
  },
  computed: {
    pages() {
      return this.$store.getters['pages/all'];
    },
    homePage() {
      return this.pages.find((p) => p.slug == '') || {body: ''};
    }
  },
  methods: {
    toggleMenu() {
      this.menuOpen = !this.menuOpen;
    }
  }
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: $bg-colour;
  color: $text-colour;
  font: 400 #{$font-size}/1.95 Poppins, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  overflow: hidden scroll;
  padding-bottom: 3em;
  text-transform: lowercase;
  text-rendering: optimizeLegibility;
  will-change: color;

  &.invert {
    background-color: $primary;

    .underline {
      &::after {
        background-color: currentColor;
      }
    }

    .primary {
      color: $bg-colour;
    }
  }

  * {
    box-sizing: border-box;
  }
}

#container {
  margin: 0 4.3%;
  position: relative;
}

#header {
  margin-bottom: 3.6em;
  min-height: 6.5vh;
  width: 100%;
  z-index: 7;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &.j-stretch > * {
    flex-grow: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.j-space-between {
    justify-content: space-between;
  }

  &.j-start {
    justify-content: flex-start;
  }

  &.j-end {
    justify-content: flex-end;
  }

  @media (map-get($breakpoints, 'md')) {
    &.j-sm-end {
      justify-content: flex-end;
    }
  }

  &.a-baseline {
    align-items: baseline;
  }

  &.a-center {
    align-items: center;
  }

  &.a-stretch {
    align-items: stretch;
  }
}

a,
a:link,
a:visited {
  color: inherit;
  font-size: inherit;
  outline-width: 0;
  text-decoration: none;
}

.underline {
  position: relative;
  display: inline-block;

  &::after {
    background-color: currentColor;
    bottom: 0;
    content: "";
    display: block;
    height: .14em;
    position: absolute;
    width: 100%;
  }
}

#nav {
  // flex-grow: .4;
  justify-self: end;
}

.nav-link {
  @extend .underline;
  margin-left: 2em;

  &::after {
    opacity: 0;
    transition: opacity $transition-time linear;
  }

  &:active::after,
  &:hover::after,
  &:focus::after,
  &.active::after {
    opacity: 1;
  }
}

.icon {
  background: transparent;
  border: none;
  color: $text-colour;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

.dropdown {
  cursor: pointer;
  // text-align: right;
  margin-left: auto;

  .dropdown-content {
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity $transition-time linear;
    will-change: opacity height width;
    z-index: 0;
  }

  .dropdown-icon {
    padding: 0 .25em;
    position: relative;
    transform: rotate(0);
    transition: transform $transition-time linear;
    will-change: transform;
    z-index: 2;
  }

  &.open {

    .dropdown-icon {
      transform: rotate(45deg);
    }

    .dropdown-content {
      background: $primary;
      height: 100%;
      left: 0;
      opacity: 1;
      padding: 3em .5em 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

#title {
  position: relative;
  font-size: 1.47em;
  flex-grow: 1.2;
  z-index: 2;

  &.invert {
    color: $text-colour;
  }
}

.primary {
  color: $primary;
  will-change: color;
}

.pre {
  white-space: pre-wrap;
}

@media (map-get($breakpoints, 'md')) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    font-size: $font-size * 0.75;
  }

  #container {
    margin: 0;
  }

  #header {
    margin: 0;
    padding: 0 .5em;
    position: fixed;
    background: $primary;
  }

  #title {
    margin: 0;
  }

  .hide-sm,
  .hide-md {
    display: none;
  }
}

@media (map-get($breakpoints, 'lg')) {
  .hide-sm-up,
  .hide-md-up {
    display: none;
  }
}
</style>

