<template>
  <section class="error page">
    <h1 class="display">Oops</h1>
    <p class="pre">the page you’re looking for
doesn’t appear to exist&hellip;</p>
    <p class="pre">you should probably visit
my <nuxt-link to="/#work">work</nuxt-link> page instead</p>
    <small>error code: {{ error.statusCode }}</small>
    <small>{{ error.message }}</small>
  </section>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  props: ['error'],
  computed: {
    ...mapGetters({
      pages: 'pages/all',
    }),
  },
  created() {
    console.dir(this.error);
  },
};
</script>

<style lang="scss">
.display {
  font-size: 5.6em;
  font-weight: normal;
  margin: .25em 0 .6em;
  text-transform: lowercase;
  line-height: 0.6;
}

.error {
  text-transform: lowercase;

  p {
    font-size: 1.8em;
    line-height: 1.2;
  }

  a,
  a:link,
  a:visited {
    color: $primary;
    font-weight: bold;
  }
}

small {
  font-size: 1em;
}

@media (map-get($breakpoints, 'sm')) {
  .display {
    font-size: 3em;
  }

  .error p {
    font-size: .75em;
  }
}
</style>

